$base-transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);

.sun-and-moon {
  @apply inline-block relative h-5;

  &__label {
    @apply inline-block relative w-10 h-5 border border-zinc-500 bg-zinc-800 rounded-full cursor-pointer;
    transition: $base-transition;
  }

  &__indicator {
    @apply block absolute top-1/2 left-1/2 w-[13px] h-[13px] -translate-y-1/2 -translate-x-[16px] bg-slate-500 rounded-full;
    box-shadow: 10px 0px 0 0 rgba(#000000, 0.2) inset;
    transition: $base-transition;

    &::before,
    &::after {
      @apply absolute content-[''] block bg-white rounded-full;
      transition: $base-transition;
    }

    &::before {
      @apply top-[7px] left-[7px] w-1 h-1 opacity-20;
    }

    &::after {
      @apply top-0.5 left-0.5 w-[7px] h-[7px] opacity-40;
    }
  }

  &__decoration {
    @apply absolute top-[70%] left-1/2 w-px h-px bg-white rounded-full;
    animation: twinkle 0.8s infinite -0.6s;

    &::before,
    &::after {
      @apply block absolute content-[''] w-px h-px bg-white rounded-full;
    }

    &::before {
      @apply -top-2 left-[7px] opacity-100;
      animation: twinkle 0.6s infinite;
    }

    &::after {
      @apply -top-[3px] left-[13px];
      animation: twinkle 0.6s infinite -0.2s;
    }
  }

  &__input {
    @apply invisible absolute;

    &:checked + .sun-and-moon__label {
      @apply bg-blue-300 border-sky-600;

      .sun-and-moon {
        &__indicator {
          @apply shadow-none bg-amber-300 translate-x-[3px];
          &::before,
          &::after {
            @apply hidden;
          }
        }

        &__decoration {
          @apply top-[65%] translate-x-0 translate-y-1/2 w-[7px] h-[7px];
          animation: cloud 8s linear infinite;

          &::before,
          &::after {
            @apply top-auto bottom-0 animate-none rounded-tl-full rounded-tr-full rounded-bl-none rounded-br-none w-1 h-1;
          }

          &::before {
            @apply -left-0.5;
          }

          &::after {
            @apply left-1.5 rounded-br-full;
          }
        }
      }
    }
  }
}

@keyframes twinkle {
  50% {
    @apply opacity-20;
  }
}

@keyframes cloud {
  0% {
    transform: translate(10%, -50%);
  }
  50% {
    transform: translate(-40%, -50%);
  }
  100% {
    transform: translate(10%, -50%);
  }
}
