@tailwind base;
@tailwind components;
@tailwind utilities;

@import "configs", "ant-design", "others";

@layer base {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-0 mb-0 font-medium leading-tight;
  }
}

.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.h2,
h2 {
  font-size: calc(1.325rem + 0.9vw);
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

.h4,
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h6,
h6 {
  font-size: 1rem;
}

body {
  // color: rgb(var(--foreground-rgb));
  @apply bg-slate-200 dark:bg-slate-950 transition-all;
}
